
@{
    ViewData["Title"] = "Login";
}

<body>
    <div class="wrapper">
        <div class="container">
            <div class="stage">
                <div class="form-direction-btns">
                    <div class="form-direction-btns">
                        <div class="btns-effect"></div>
                       
                        <button class=" btn login-btn active">Login</button>
                    </div>
                    <form class="form-group login-form " action=" ">
                        <input asp-action="UserName" type="text" placeholder="UserName " name="name " class="input ">
                        <input asp-action="Password" type="password" placeholder="Enter Password " name="password " class="input ">
                        <button type="submit" class="login-submit ">Log in</button>
                    </form>
               
            </div>
        </div>
    </div>
</body>