@model IEnumerable<_Views_Account_Register>
@{
    ViewData["Title"] = "Register";
}


<body>
    <div class="wrapper">
        <div class="container">
            <div class="stage">
                <div class="form-direction-btns">
                    <div class="btns-effect"></div>
                    <button class=" btn login-btn active">Login</button>
                    <button class="btn register-btn ">Register</button>
                </div>

                <form class="form-group login-form " action=" ">
                    <div>  <input asp-for="Email" type="email" placeholder="Enter Email " name="email " class="input "></div> 
                    <div>  <input asp-action="Password" type="password" placeholder="Enter Password " name="password " class="input ">  </div> 
                    <button class="login-submit ">Log in</button>
                </form>

                <div class="alert alert-danger " asp-validation-summary="ModelOnly">   </div>
                <form class="form-group register-form " method="post">

                    <div>
                        <input asp-action="UserName" type="text" placeholder="Name " name="name " class="input ">
                      
                        <span class="text-danger" asp-validation="Username">   </span>
                    </div>
                    
                    <div>
                        <input asp-action="Email" type="email" placeholder="Enter Email " name="email " class="input ">

                  
                        <span class="text-danger" asp-validation="Email">   </span>
                    </div>
                    <div>
                        <input asp-action="Password" type="password" placeholder="Enter Password " name="password " class="input ">
                    
                        <span class="text-danger" asp-validation="Password">   </span>
                    </div>
                    <div>
                        <input asp-action="CheckPassword" type="password" placeholder="CheckPassword " name="password " class="input ">
                  
                        <span class="text-danger" asp-validation="CheckPA">   </span>
                    </div>
                   
                    <button type="submit" id="button" class="register-submit">Register</button>
                </form>
            </div>
        </div>
    </div>
    </body>
