
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
   
    <link href="~/css/style.css" rel="stylesheet" />
</head>
@RenderBody()

<script src="~/js/script.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="~/js/main.js"></script>
<script src="~/js/vendor/jquery-1.12.0.min.js"></script>
<script src="~/js/ajax-mail.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery.magnific-popup.js"></script>
<script src="~/js/jquery.mb.YTPlayer.js"></script>
<script src="~/js/jquery.meanmenu.js"></script>
<script src="~/js/jquery.nicescroll.min.js"></script>
<script src="~/js/plugins.js">

</script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/vendor/jquery-1.12.0.min.js"></script>
<script src="~/js/vendor/modernizr-2.8.3.min.js"></script>